# Git
.git
.gitignore
.gitattributes

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# 数据和日志目录
db/
logs/
received_files/
temp_files/

# Node.js
node_modules/

# 其他
*.md
LICENSE
*.log