root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,js,json,cs}]
charset = utf-8
indent_style = space
indent_size = 4

[*.json]
insert_final_newline = false

[*.cs]
csharp_new_line_before_open_brace = all
csharp_space_after_keywords_in_control_flow_statements = true 